<?xml version="1.0"?>
<model>
  <name>marker_115</name>
  <version>1.0</version>
  <description>
    Aruco marker 0 of 10 cm side length with no mass
  </description>
  <author>
    <name>Emanuele Cuzzocrea</name>
    <email>emanuele24c@gmail.com</email>
  </author>
  <sdf version='1.4'>marker_115.sdf</sdf>
</model>


