<?xml version="1.0"?>

<model>

  <name>human</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Emanuele Cuzzocrea</name>
    <email>emanuele24c@gmail.com</email>
  </author>

  <description>
    Model created with MakerHuman. Test male named human
  </description>

</model>
